@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100&display=swap");

* {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

/* aici se refera la meniul cu linkuri */

/* .header_menu {
width: 467px;
height: 25px;
display: flex;
justify-content: space-between;
} */

/* ii exact ca si sus doar ca mai des utilizat si mai eficient */
.header_menu {
  display: flex;
  align-items: center;
}

.header_menu a {
  margin-right: 24px;
  font-weight: 500;
  font-size: 21px;
  color: #000000;
  text-decoration: none;
}

nav button {
  margin-left: 8px;
  width: 128px;
  height: 45px;
  color: #2203e4;
  border: 1px solid #2203e4;

  background-color: white;
  font-weight: 500;
  font-size: 21px;
}

header h1 {
  font-weight: 600;
  font-size: 27px;
  width: 183px;
  height: 64px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.hero-section {
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  align-items: center;
}

.hero-heading {
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-subheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  width: 611px;
  margin-top: 0;
  margin-bottom: 24px;
}

.button-authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  width: 94px;
  height: 39px;
  background: #0062ff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.hero-buttons {
  display: flex;
  gap: 24px;
  width: 253px;
}

.button-checkdemo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 135px;
  height: 39px;
  border: 1px solid #575757;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #575757;
  background: #ffffff;
}

.hero-text {
  margin-right: 58px;
}

.hero-img {
  position: relative;
  left: 50px;
}

/* authors */

.authors-hug {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 611px;
  height: 93px;
  margin-bottom: 36px;
}

.authors-up h1 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.authors-up p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.authors-bottom {
  display: flex;
  justify-content: space-between;
  height: 175px;
  width: 1190px;
}

.frame12 {
  display: flex;
  justify-content: space-between;
  width: 95.15px;
  height: 25px;
  gap: 19px;
}

.authors-frame14 {
  display: flex;
  align-items: center;
  width: 841px;
  height: 175px;
}

.authors-frame13 {
  width: 645px;
  height: 175px;
  margin-left: 34px;
}

.frame9 h1 {
  font-weight: 600;
  font-size: 27px;
  color: #000000;
  margin: 0;
}

.frame9 p {
  font-weight: 500;
  font-size: 21px;
  color: #575757;
  margin: 0;
  margin-bottom: 12px;
}

#paragraph-authors {
  font-weight: 400;
  font-size: 16px;
  color: #575757;
  margin: 0;
  margin-bottom: 24px;
}

.authors-frame11 {
  display: flex;
  height: 150px;
  margin-right: 34px;
}

.authors-frame16 {
  width: 237px;
}

#frame16-first {
  line-height: 120%;
  font-weight: 500;
  font-size: 21px;
  color: #dea405;
  margin: 0;
}

#frame16-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffbe0b;
  margin: 0;
}

.authors-frame19 {
  width: 209.09px;
}
#frame19-first {
  font-weight: 600;
  font-size: 27px;
  margin: 0;
}

#frame19-second {
  font-weight: 500;
  font-size: 21px;
  color: #575757;
  margin: 0;
}

.authors-frame17 {
  width: 167px;
  height: 44px;
}

.authors-frame18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  width: 237px;
  height: 161px;
  margin: 8px 0;
}

.authors_bottom {
  display: flex;
  align-items: center;
  height: 175px;
  width: 1190px;
  
}

.authors-content {
  width: 1190px;
  margin-bottom: 143px;
}

.authors-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.heading-36px-bold {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}

.subheading-16px {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #575757;
  width: 611px;
  
}

.authors-text {
  margin-left: 34px;
  margin-right: 112px;
}

.authors-name {
  font-weight: 600;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
}

.authors-profesion {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #575757;
  margin-bottom: 12px !important;
}

.authors-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #575757;
  margin-bottom: 24px;
  width: 645px;
height: 57px;
}

.authors-social img {
  margin-right: 19px;
}

#frame16_first {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #dea405;
}

#frame16_second {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffbe0b;
}

#frame19_first {
  font-weight: 600;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
}

#frame19_second {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;

  color: #575757;
}

.authors_humans h1,
p {
  margin: 0;
}

.authors_humans {
  width: 237px;

}

.authors-text h1 {
  margin: 0;
}

.who-container {
  width: 100%;
  background: #0062FF;
}

.who-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-heading {
  text-align: center;
  color: #FFFFFF;
  margin-top: 71px;
}

.who-subheading {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 64px;
}

.who-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1262px;
  gap: 46px;
  margin-bottom: 64px;
}

.who-card {
  display: flex;
  align-items: center;
  width: 607px;
}

.who-card img {
  border-radius: 24px;
  width: 150px;
  height: 150px;
}

.who-card-info {
  padding-left: 34px;
}

.who-card-info h1 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 27px;
  line-height: 120%;
  color: #FFFFFF;
}

.who-card-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.who-btn {
  padding: 10px 16px;
  background: #FFFFFF;
  border: 1px solid #2203E4;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #2203E4;
  margin-bottom: 71px;
}

.check-heading {
  margin-top: 63px;
}

.check-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-subheading {
  margin-bottom: 44px;
}

.check-info {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 130px;
}

.check-info video {
  width: 444px;
  height: 296px;
  background-color: gray;
}

.check-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  width: 611px;
}


.check-text h1{
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
}

.check-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.opinions-container{
  background-color: #FFBE0B;
  width: 100%;
  padding: 67px 0;

}

.opinions-heading {
  margin-bottom: 12px;
}

.opinions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opinions-subheading {
  margin-bottom: 42px;
}

.opinions-card {
  display: flex;
  align-items: center;
  padding: 12px 16px;
 width: 702px;
height: 230px;
background: #F3F3F3;
box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
border-radius: 12px;
gap: 12px;
opacity: 0.4;
}

.opinions-primary-card {
  opacity: 1;
}

.opinions-heading img {
  display: inline-block;
  vertical-align: middle;
  width: 158px !important; 
  height: 26px !important;
}

.opinions-heading {
  display: block;
  margin-bottom: 16px;
 
}

.opinions-heading h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: 600;
font-size: 27px;
color: #000000;
}

.opinions-heading h3 {
  margin: 0;
  font-weight: 500;
font-size: 21px;
color: #000000;
line-height: 21px;
}

.opinions-card img {
  width: 47px;
  height: 41px;
}

.opinions-card-info p {
  width: 611px;
  font-weight: 400;
font-size: 16px;
color: #575757;
}

.opinions-wraper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
}

.start-info {
  display: flex;
  align-items: center;
  margin-top: 74px;
  gap: 13px;
  margin-bottom: 74px;
}

.start-product-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  background: #0062FF;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  border: none;
}

.start-info-reviews {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 17px;
}

.start-reviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.start-product-title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #2203E4;
  margin-bottom: 16px;
}

.start-product-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #575757;
  margin-bottom: 16px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}

.form-email {
  background: rgba(58, 134, 255, 0.2);
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #2203E4;
  width: 508px;
  height: 70px;
  border: none;
  padding-left: 24px;
  margin-bottom: 14px;
}

.form-btn {
  padding: 10px 16px;
  gap: 10px;
  background: #0062FF;
  width: 532px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 103px;
}

